@model List<KuetAcademy.Web.Models.Domain.BlogPost>
@{
}

<div style="background-color:lightgrey; opacity:inherit; border-radius:8px;">
    <div class="container">
        <h1>All Blog Posts</h1>

    </div>
</div>
<br />

@if (TempData["delete"] != null)
{
    <div class="alert alert-success">
        <strong>Success</strong>@TempData["delete"]
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
    <br>
}
<div class="container" style="background-color:#FFF4F4;">
    @if(Model!= null && Model.Any())
    {
        <table class="table" style="font-size:16px;">
            <thead style="background-color:lightblue;">
                <tr style="font-size:20px;">
                    <th>ID</th>
                    <th>Heading</th>
                    <th>Tags</th>
                    <td> </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var blogpost in Model)
                {
                    <tr>
                        <td>@blogpost.Id</td>
                        <td>@blogpost.Heading</td>
                        <td>
                            <div class="d-flex">
                                @foreach (var item in blogpost.Tags)
                                {
                                    <span class="badge bg-secondary me-2">@item.Name</span>
                                }
                            </div>
                        </td>
                        <td>
                            <a asp-area=""
                               asp-controller="AdminBlogPost"
                               asp-action="Edit"
                               asp-route-id="@blogpost.Id">
                                <b>Edit</b>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Blog Posts found</p>
    }

</div>
<br />
<br />